@media screen and (min-width: 1000px) {

  div.App { 
    width: 1000px;
    margin: auto;
  }

  .navbar a { 
    padding: 50px;
  }

  div.about img {
    border-radius: 0% 0% 0% 50%;
    width: 25%;
    float: right;
  }

  div.featured-projects img {
    width: 980px;
    position: absolute;
    top: 53%;
    left: calc(calc(100vw - 980px) / 2);
    z-index: -2;
  }  

  div.laptop img {  
    opacity: 0;
    z-index: 0;
  }

  div.featured-projects p {
    color: gray; 
    width: 980px; 
    position: absolute;
    top: 940px;
    left: calc(calc(100vw - 980px) / 2);
    -webkit-animation: 1.5s ease OpacAni;
    -moz-animation: 1.5s ease OpacAni;
    animation: 1.5s ease OpacAni;
  }

  div.blog-preview {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(249, 245, 249);
    margin: auto;
    -webkit-transition: 250ms ease-in-out;
    -moz-transitio:n 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }

  h2.blog-title {
    text-align: center;
    font-weight: 200;
    color: gray;
    padding-top: 15px;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }
  
  div.blog-preview:hover {
    width: 85%;
    height: 120px;
    font-size: 1.25em;
    font-weight: 100;
    border-radius: 20px;
    background-color: rgb(59, 42, 59);
    -webkit-transition: 250ms ease-in-out;
    -moz-transitio:n 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }
  
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  
  .navbar a { 
    padding: 50px;
  }

  .about img {
    border-radius: 0% 0% 0% 50%;
    width: 25%;
    float: right;
  }

  div.blog-preview {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(249, 245, 249);
    margin: auto;
    -webkit-transition: 250ms ease-in-out;
    -moz-transitio:n 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }

  h2.blog-title {
    text-align: center;
    font-weight: 200;
    color: gray;
    padding-top: 15px;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }
  
  div.blog-preview:hover {
    width: 85%;
    height: 120px;
    font-size: 1.25em;
    font-weight: 100;
    border-radius: 20px;
    background-color: rgb(59, 42, 59);
    -webkit-transition: 250ms ease-in-out;
    -moz-transitio:n 250ms ease-in-out;
    transition: 250ms ease-in-out;
  }

  .featured-projects img {
    width: 98%;
    position: absolute;
    top: calc(220px + calc(100vw * 0.2));
    left: 1%;
    z-index: -2;
  }
  
  .laptop img {
    opacity: 0;
    z-index: 0;
  }

  div.featured-projects p { 
    color: gray;
    width: 98%; 
    position: relative;
    top: calc(150px + calc(100vw * 0.3));
    left: 1%;
    -webkit-animation: 1.5s ease OpacAni;
    -moz-animation: 1.5s ease OpacAni;
    animation: 1.5s ease OpacAni;
  }

}

@media screen and (max-width: 700px) {
  
  .navbar a { 
    font-size: .75em;
    padding: 20px;
    margin: 0px;
  }

  .about img {
    width: 90%;
    padding: 0px;
    margin: 5% auto 0px;
  }

  h2.blog-title, h2.blog-title a {
    text-align: center;
    font-weight: 200;
    color: gray;
    line-height: 1em;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }

  div.carousel-projects .project {
    padding: 1%;
    width: 31%;
    display: inline-block;
    margin: 10px 0px;
    position: relative;
    text-align: center;
  }

  .featured-projects img {
    width: 98%;
    position: absolute;
    top: calc(175px + calc(100vw * 0.25));
    left: 1%;
    z-index: -2;
  }
  
  .laptop img {
    opacity: 0;
    z-index: 0;
  }

  /* calc(220px + calc(100vw * 0.2)); #img
  calc(150px + calc(100vw * 0.3)); #p */

  div.featured-projects p { 
    color: gray;
    width: 98%; 
    position: relative;
    top: calc(115px + calc(100vw * 0.3));
    left: 1%;
    -webkit-animation: 1.5s ease OpacAni;
    -moz-animation: 1.5s ease OpacAni;
    animation: 1.5s ease OpacAni;
  }

}

.App {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header img{
  width: 100%;
}

.navbar {
  width: 100%;
  font-size: 1.5em;
  background-color: lightgray;
  padding: 5px;
  margin: 0px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
}

.navbar a.active:visited {
  color: gray;
}

.navbar a:visited {
  text-decoration: none;
  color: white; 
}

.navbar a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(59, 143, 169);
}

a:link {
  text-decoration: none;
  color: rgb(59, 143, 169);
}

/*  PROJECTS - CAROUSEL  */

.carousel-projects .project {
  padding: 10px;
  width: 200px;
  display: inline-block;
  margin: 10px 0px;
  position: relative;
  text-align: center;
}

.carousel-projects img {
  width: 100%;
  filter: grayscale(100%);
  z-index: -1;
}

.carousel-projects img:hover, .carousel-projects img.featured {
  opacity: 0;
}

/*  PROJECTS - FEATURED   */

.featured-projects {
  width: 100%;
  height: 480px;
} 

.featured-projects img.playing {
  opacity: 1;
  -webkit-animation: 500ms ease projAni;
  -moz-animation: 500ms ease projAni;
  animation: 500ms ease projAni;
  z-index: 0;
}

.laptop img.playing {
  opacity: 1;
  z-index: 1;
  -webkit-transition: 1s ease 1s opacity;
  -moz-transition: 1s ease .1s opacity;
  transition: 1s ease .1s opacity;
} 

@keyframes projAni {
	0% {
    -webkit-transform: translateY(-60%) scale(.25);
    transform: translateY(-60%) scale(.25);
	}
	100% {
    -webkit-transform:  translateY(0) scale(1);
    transform: translateY(0) scale(1);
	}
}

@keyframes OpacAni {
	0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
	100% {
    opacity: 1;
	}
}

/*  BLOG  */ 

p.blog-date {
  text-align: center;
  font-size: .9em;
  color: gray;
  padding-bottom: 15px;
  line-height: 1em;
  border-bottom-width: 50%;
  font-family: FreeMono, monospace;
}

div.blog-content, .about-p {
  font-size: 1.15em;
  text-align: left;
  padding: 0px 25px;
  color: #555;
  font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
}

code {
  font-family: FreeMono, monospace;
  color: #555;
}

blockquote {
  background-color: #eee;
  border-left: 5px solid #ccc;
  padding: 5px 20px;
  font-style: italic;
  font-size: 1.25em;
  color: gray
}



