@media screen and (min-width: 1000px) {
  .App { 
    width: 1000px;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  
  .navbar a { 
    font-size: .75em;
    padding: 20px;
    margin: 0px;
  }

  .about h3 {
    margin: 2.5%;
    font-size: 200%;
    font-weight: 200;
    color: gray;
    line-height: 1.25em;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }

  .about img {
    width: 90%;
    padding: 0px;
    margin: auto;
  }

  h2.blog-title, h2.blog-title a {
    text-align: center;
    font-weight: 200;
    color: gray;
    line-height: 1em;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }

  .project div.overlay {
    color: rgb(59, 42, 59);
    font-size: .75em;;
    font-weight: 200;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }

}

@media screen and (min-width: 600px) {
  
  .navbar a { 
    padding: 50px;
  }

  .about h3 {
    float: left;
    margin: 2.5%;
    width: 70%;
    font-size: 400%;
    font-weight: 200;
    color: gray;
    line-height: 1em;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }

  .about img {
    border-radius: 0% 0% 0% 50%;
    width: 25%;
    float: right;
  }

  h2.blog-title, h2.blog-title a {
    text-align: center;
    font-weight: 200;
    color: gray;
    line-height: 2em;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }

  .project div.overlay {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    opacity: 0;
    background: rgb(39, 32, 39);
    z-index: 1;
    color: white;
    font-size: .5em;;
    font-weight: 200;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }
  
  .project div.overlay:hover, h2.blog-title a:hover {
    line-height: 1em;
    font-size: 1.25em;;
    font-weight: 100;
    opacity: .9;
    transition-duration: .5s;
    transition-timing-function: ease;
  }

}

.App {
  /* background-image: url('./components/images/CK.png'); */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header img{
  width: 100%;
}

.navbar {
  width: 100%;
  font-size: 1.5em;
  background-color: lightgray;
  padding: 5px;
  margin: 0px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
}

.navbar a.active {
  color: gray;
}

a:visited {
  text-decoration: none;
  color: white; 
}

a:link {
  text-decoration: none;
  color: white; 
}

.App-link {
  color: #61dafb;
}

.projects {
  width: 100%;
}

.project {
  padding: 10px;
  width: 80%;
  height: 30%;
  border: #ccc solid 2px;
  display: inline-block;
  margin: 5%;
  position: relative;
  text-align: center;
}

.project img {
  width: 100%;
}

p.blog-date {
  text-align: center;
  font-size: .9em;
  color: gray;
  padding: 0px 0px 25px 0px;
  line-height: 1em;
  border-bottom: 1px solid lightgray;
  border-bottom-width: 50%;
  font-family: FreeMono, monospace;
}

div.blog-content, .about-p {
  font-size: 1.15em;
  text-align: left;
  padding: 25px;
  color: #555;
  font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
}

code {
  font-family: FreeMono, monospace;
  color: #555;
}

blockquote {
  background-color: #eee;
  border-left: 5px solid #ccc;
  padding: 5px 20px;
  font-style: italic;
  font-size: 1.25em;
  color: gray
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


