.App {
  /* background-image: url('./components/images/CK.png'); */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

a:visited {
  text-decoration: none;
  color: white; 
}

a:link {
  text-decoration: none;
  color: white; 
}

.navbar {
  width: 100%;
  font-size: 1.5em;
  background-color: #2b383b;
  padding: 0px;
  margin: 0px;
  color: white;
}
.navbar a {
  padding: 50px;
}

.about img {
  border-radius: 50%;
  width: 25%;
}

.about-p {
  font-size: 1.15em;
  text-align: left;
  padding: 25px;
}

.header {
  font-size: 2.5em;
  padding: 0px;
  margin: 0px;
}

.App-link {
  color: #61dafb;
}

.projects {
  width: 100%;
}

a.proj-link {
  color: black;
}

.project {
  width: 30%;
  height: 30%;
  border: 1px solid gray;
  display: inline-block;
  margin: 1%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
