@media screen and (min-width: 1000px) {
  .App { 
    width: 1000px;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  
  .navbar a { 
    font-size: .75em;
    padding: 20px;
    margin: 0px;
  }

  .about img {
    width: 90%;
    padding: 0px;
    margin: 5% auto 0px;
  }

  h2.blog-title, h2.blog-title a {
    text-align: center;
    font-weight: 200;
    color: gray;
    line-height: 1em;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }

}

@media screen and (min-width: 600px) {
  
  .navbar a { 
    padding: 50px;
  }

  .about img {
    border-radius: 0% 0% 0% 50%;
    width: 25%;
    float: right;
  }

  h2.blog-title, h2.blog-title a {
    text-align: center;
    font-weight: 200;
    color: gray;
    line-height: 2em;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }
  
  h2.blog-title a:hover {
    line-height: 1em;
    font-size: 1.25em;;
    font-weight: 100;
    opacity: .9;
    transition-duration: .5s;
    transition-timing-function: ease;
  }

}

.App {
  /* background-image: url('./components/images/CK.png'); */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header img{
  width: 100%;
}

.navbar {
  width: 100%;
  font-size: 1.5em;
  background-color: lightgray;
  padding: 5px;
  margin: 0px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
}

.navbar a.active:visited {
  color: gray;
}

.navbar a:visited {
  text-decoration: none;
  color: white; 
}

.navbar a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(59, 143, 169);
}

a:link {
  text-decoration: none;
  color: rgb(59, 143, 169);
}

div.carousel-projects {
  width: 100%;
}

.carousel-projects .project {
  padding: 10px;
  width: 200px;
  display: inline-block;
  margin: 10px 0px;
  position: relative;
  text-align: center;
}

.carousel-projects img {
  width: 100%;
  filter: grayscale(100%);
  z-index: 0;
}


.carousel-projects img:hover, .carousel-projects img.featured {
  width: 100%;
  opacity: .25;
  z-index: 0;
}

/* @keyframes Proj-Feature {
  from {
    position: relative;
    top: -135.5px;
    width: 200px;
    margin: auto;
    opacity: 0;
    z-index: -1;
  }
  to {
    position: relative;
    top: 0px;
    width: 80%;
    margin: auto;
    opacity: 1;
    animation-iteration-count: 5;
    transition-delay: 3s;
    transition-duration: 3s;
    transition-timing-function: ease;
    z-index: -1;
  }
} */

.featured-projects img {
  position: relative;
  top: -135.5px;
  width: 200px;
  margin: auto;
  opacity: 0;
  z-index: -1;
}

.featured-projects img.playing {
  zoom: 100%;
  position: relative;
  top: 0px;
  width: 80%;
  margin: auto;
  opacity: 1;
  animation-iteration-count: 5;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: ease;
  z-index: -1;
}

p.blog-date {
  text-align: center;
  font-size: .9em;
  color: gray;
  padding: 0px 0px 25px 0px;
  line-height: 1em;
  border-bottom: 1px solid lightgray;
  border-bottom-width: 50%;
  font-family: FreeMono, monospace;
}

div.blog-content, .about-p {
  font-size: 1.15em;
  text-align: left;
  padding: 0px 25px;
  color: #555;
  font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
}

code {
  font-family: FreeMono, monospace;
  color: #555;
}

blockquote {
  background-color: #eee;
  border-left: 5px solid #ccc;
  padding: 5px 20px;
  font-style: italic;
  font-size: 1.25em;
  color: gray
}



