@media screen and (min-width: 1000px) {
  div.App { 
    width: 1000px;
    margin: auto;
  }

  div.featured-projects img {
    width: 710px;
    position: absolute;
    top: 60%;
    left: calc(calc(100vw - 710px) / 2);
    z-index: -2;
  }  

  div.laptop img {
    width: 980px;
    position: absolute;
    top: 54%;
    margin: auto;
    left: calc(calc(100vw - 980px) / 2);
    opacity: 0;
    z-index: 0;
  }
  
}

@media screen and (min-width: 600px) {
  
  .navbar a { 
    padding: 50px;
  }

  .about img {
    border-radius: 0% 0% 0% 50%;
    width: 25%;
    float: right;
  }

  h2.blog-title, h2.blog-title a {
    text-align: center;
    font-weight: 200;
    color: gray;
    line-height: 2em;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }
  
  h2.blog-title a:hover {
    line-height: 1em;
    font-size: 1.25em;;
    font-weight: 100;
    opacity: .9;
    transition-duration: .5s;
    transition-timing-function: ease;
  }

  .featured-projects img {
    width: 71%;
    position: absolute;
    top: calc(100vh - 40%);
    left: 14.5%;
    z-index: -2;
  }
  
  .laptop img {
    width: 98%;
    position: absolute;
    top: 440px;
    margin: auto;
    left: 1%;
    opacity: 0;
    z-index: 0;
  }

}

@media screen and (max-width: 600px) {
  
  .navbar a { 
    font-size: .75em;
    padding: 20px;
    margin: 0px;
  }

  .about img {
    width: 90%;
    padding: 0px;
    margin: 5% auto 0px;
  }

  h2.blog-title, h2.blog-title a {
    text-align: center;
    font-weight: 200;
    color: gray;
    line-height: 1em;
    font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
  }

}




.App {
  /* background-image: url('./components/images/CK.png'); */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.header img{
  width: 100%;
}

.navbar {
  width: 100%;
  font-size: 1.5em;
  background-color: lightgray;
  padding: 5px;
  margin: 0px;
  color: white;
  font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
}

.navbar a.active:visited {
  color: gray;
}

.navbar a:visited {
  text-decoration: none;
  color: white; 
}

.navbar a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(59, 143, 169);
}

a:link {
  text-decoration: none;
  color: rgb(59, 143, 169);
}

/*  PROJECTS - CAROUSEL  */

.carousel-projects .project {
  padding: 10px;
  width: 200px;
  display: inline-block;
  margin: 10px 0px;
  position: relative;
  text-align: center;
}

.carousel-projects img {
  width: 100%;
  filter: grayscale(100%);
  z-index: -1;
}

.carousel-projects img:hover, .carousel-projects img.featured {
  opacity: 0;
}

.featured-projects {
  width: 100%;
  height: 485px;
} 

/*  PROJECTS - FEATURED DETAILS  */

.featured-projects p, .featured-projects h2 {
  opacity: 0;
}

.featured-projects p.playing, .featured-projects h2.playing {
  opacity: .5;
  font-size: 1.25em;
  transition: opacity 1s ease;
  transition-delay: .6s;
  position: relative;
  top: 410px;
}

/*  PROJECTS - FEATURED IMAGE   */

/* .featured-projects img {
  width: 71%;
  position: absolute;
  top: 60%;
  left: 14.5%;
  z-index: -2;
} */

.featured-projects img.playing {
  opacity: 1;
  -webkit-animation: 500ms ease projImage;
  -moz-animation: 500ms ease projImage;
  animation: 500ms ease projImage;
  z-index: 0;
}

@-webkit-keyframes projImage {
	0% {
    -webkit-transform: translateY(-76%) scale(.25);
    transform: translateY(-76%) scale(.25);
	}
	100% {
    -webkit-transform:  translateY(0) scale(1);
    transform: translateY(0) scale(1);
	}
}

/*  PROJECTS - LAPTOP IMAGE   */

/* .laptop img {
  width: 98%;
  position: absolute;
  top: 54%;
  margin: auto;
  left: 1%;
  opacity: 0;
  z-index: 0;
} */

.laptop img.playing {
  margin: auto;
  opacity: 1;
  z-index: 1;
  -webkit-animation: 500ms ease projLaptop;
  -moz-animation: 500ms ease projLaptop;
  animation: 500ms ease projLaptop;
  -webkit-transition: 500ms ease 500ms opacity;
  -moz-transition: 500ms ease .1s opacity;
  transition: 500ms ease .1s opacity;
} 

@-webkit-keyframes projLaptop {
	0% {
    -webkit-transform: translateY(-60%) scale(.25);
    transform: translateY(-60%) scale(.25);
  }
	100% {
    -webkit-transform:  translateY(0) scale(1);
    transform: translateY(0) scale(1);
	}
}

/*  BLOG  */ 

p.blog-date {
  text-align: center;
  font-size: .9em;
  color: gray;
  padding: 0px 0px 25px 0px;
  line-height: 1em;
  border-bottom: 1px solid lightgray;
  border-bottom-width: 50%;
  font-family: FreeMono, monospace;
}

div.blog-content, .about-p {
  font-size: 1.15em;
  text-align: left;
  padding: 0px 25px;
  color: #555;
  font-family: "Lucida Sans Unicode", "Lucide Grande", "sans-serif";
}

code {
  font-family: FreeMono, monospace;
  color: #555;
}

blockquote {
  background-color: #eee;
  border-left: 5px solid #ccc;
  padding: 5px 20px;
  font-style: italic;
  font-size: 1.25em;
  color: gray
}



